* { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    font-kerning: normal;
}

.news-slide {
  text-wrap: balance;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: auto!important;
}

.swiper-button-disabled:hover {
  opacity: 0
}

.section--cream-40-circles-btm::after {
    content: '';
  position: absolute;
  z-index: 1;
  bottom: -50px;
  left: 0;
  right: 0;
  height: 100px; 
  background: radial-gradient(circle, var(--secondary--cream-40) 55%, transparent 45%); 
  background-size: 50px;
  background-position: -25px 50%;
  pointer-events: none;
}

.section--orange-circles-btm::before {
    content: '';
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 0;
  right: 0;
  height: 100px; 
  background: radial-gradient(circle, var(--primary--orange) 55%, transparent 45%); 
  background-size: 50px;
  background-position: -25px 50%;
  pointer-events: none;
}

.section--orange-circles-btm::after {
    content: '';
  position: absolute;
  z-index: 1;
  bottom: -50px;
  left: 0;
  right: 0;
  height: 100px; 
  background: radial-gradient(circle, var(--primary--orange) 55%, transparent 45%); 
  background-size: 50px;
  background-position: -25px 50%;
  pointer-events: none;
}

.section--pink-circles-btm::after {
    content: '';
  position: absolute;
  z-index: 1;
  bottom: -50px;
  left: 0;
  right: 0;
  height: 100px; 
  background: radial-gradient(circle, var(--secondary--pink) 55%, transparent 45%); 
  background-size: 50px;
  background-position: -25px 50%;
  pointer-events: none;
}

.section--cream-circles-btm::after {
    content: '';
  position: absolute;
  z-index: 1;
  bottom: -50px;
  left: 0;
  right: 0;
  height: 100px; 
  background: radial-gradient(circle, var(--secondary--cream) 55%, transparent 45%); 
  background-size: 50px;
  background-position: -25px 50%;
  pointer-events: none;
}

.footer::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: -50px;
    left: 0;
    right: 0;
    height: 100px; 
    background: radial-gradient(circle, var(--primary--orange) 55%, transparent 45%); 
    background-size: 50px;
    background-position: -25px 50%;
    pointer-events: none;
}

.cart__container {position: relative;}

.cart__container::before {
  	content: '';
    position: absolute;
    top: 0px;
    left: -50px;
    bottom: 0px;
    width: 100px;
    background: radial-gradient(circle, var(--primary--orange) 55%, transparent 45%); 
    background-size: 100px 50px;
    background-position: 0% 25px;
    background-repeat: repeat-y;
    pointer-events: none;
}

html.lenis {
    height: auto;
}
.lenis.lenis-smooth {
    scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
.lenis.lenis-stopped, .word {
    overflow: hidden;
}

[txt-slide-up] {
    opacity: 0;
}

[text-split] {
  padding-bottom: 0.2em;
}

.word {
    padding-top: 0.2em;
    margin-top: -0.2em;
    margin-bottom: -0.2em;
    overflow: none;
}

@media only screen and (max-width: 767px) {
    .cookie__consent {
      max-width: calc(100vw - (var(--page-padding--mobile) * 2));
    }
}

@media only screen and (min-width: 1920px) {
  body {
    --page-padding--main: 5.2083vw;
  }
}