.menu__nav__link, .menu__nav__link:hover, .menu__nav__link.w--current {
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.275em;
}

.menu__nav__link {
  text-decoration-color: transparent;
}

.menu__nav__link:hover {
  text-decoration-color: var(--primary--black)
}

.menu__item__h > h3{
  font-size: inherit;
  margin: 0em;
}

[featured="true"] {
  padding: 1.5em 10px;
  margin: -1.5em -10px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--primary--black);
}

h1[text-split] {
  margin-bottom: 0.5em;
}

.is-medium::after {
  content: " ";
  margin-left: 0.25em;
  display: inline-block;
  width: 0.619611111111111em;
  height: 0.833333333333333em;
  background-image: url('https://uploads-ssl.webflow.com/6549128db41d15ae06784cbc/65b93ef7edc6226950389079_chilli.svg');
  background-size: 100%;
}

.is-spicy::after {
  content: " ";
  margin-left: 0.25em;
  display: inline-block;
  width: 1.239222222222222em;
  height: 0.833333333333333em;
  background-image: url('https://uploads-ssl.webflow.com/6549128db41d15ae06784cbc/65b93ef7edc6226950389079_chilli.svg');
  background-repeat: repeat-x;
  background-size: 0.619611111111111em 0.833333333333333em;
}

.filter__btn--active {
  text-decoration: underline;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.275em;
  text-decoration-color: var(--primary--orange);
}

@media only screen and (max-width: 479px) {
  .filter__btn--active {
    text-decoration-thickness: 4px;
  }
}